.env.*.php
.env.php
.DS_Store
Thumbs.db
*~
composer.phar
composer.lock
packages/AdminLTE-master.zip
vendor/
bootstrap/compiled.php
app/config/local/
app/config/database.php
app/config/mail.php
app/SimpleList/Files/Reports/*.csv
app/SimpleList/Files/Reports/*.xls
app/SimpleList/Files/Reports/*.xlsx
app/SimpleList/Files/Images/*.jpg
app/SimpleList/Files/Images/Profile/*.jpg
app/SimpleList/Files/Images/*.png
app/SimpleList/Files/Images/Profile/*.png